<nav class="navbar sticky-top navbar-expand-lg bg-dark p-0">
    <div class="container-fluid p-0">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mx-0 mx-md-auto">
            <a href="/bcaa" class="nav-link <%- page_name === "home" ? "active" : "" %>  py-3 px-3 px-xl-4 fs-6">Home</a>
            <a href="/bcaa/legislation" class="nav-link <%- page_name === "legislation" ? "active" : "" %> py-3 px-3 px-xl-4 fs-6">Legislations</a>
            <a href="/bcaa/airworthiness" class="nav-link <%- page_name === "airworthiness" ? "active" : "" %> py-3 px-3 px-xl-4 fs-6">Airworthiness</a>
            <a href="/bcaa/flightoperations" class="nav-link <%- page_name === "flightoperations" ? "active" : "" %> py-3 px-3 px-xl-4 fs-6">Flight Operations</a>
            <a href="/bcaa/ans" class="nav-link <%- page_name === "ans" ? "active" : "" %> py-3 px-3 px-xl-4 fs-6">ANS</a>
            <a href="/bcaa/security" class="nav-link <%- page_name === "security" ? "active" : "" %> py-3 px-3 px-xl-4 fs-6">Security</a>
            <a href="/bcaa/aerodrome" class="nav-link <%- page_name === "aerodrome" ? "active" : "" %> py-3 px-3 px-xl-4 fs-6">Aerodrome</a>
            <a href="/bcaa/aboutus" class="nav-link <%- page_name === "aboutus" ? "active" : "" %> py-3 px-3 px-xl-4 fs-6">About Us</a>
        </div>
      </div>
    </div>
</nav>

<!-- divider -->
<div id="nav-divider"></div>